<!DOCTYPE html> <!--Ceci a été creer du moment où on veut modifier le contact , il a été creé dans template-->
<html>
<head>
    <title>Modifier un contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Modifier un contact</h1>
    <a href="/contacts">Retour</a>
    <br><br>

    <form method="POST" action="/modifier/{{ contact[0] }}">
        <label>Nom :</label>
        <input type="text" name="nom" value="{{ contact[1] }}" required>
        <br><br>

        <label>Telephone :</label>
        <input type="text" name="telephone" value="{{ contact[2] }}" required>
        <br><br>

        <label>Email :</label>
        <input type="email" name="email" value="{{ contact[3] }}" required>
        <br><br>

        <button type="submit">Modifier</button>
    </form>
</body>
</html>
